.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font, 'Inter-Variable', inter);
  font-variation-settings: 'wght' var(--card-weight-text);
  background-image: var(--page-background);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--element-background);
  border: 2px solid var(--accent-color);
  padding: var(--header-padding);
  margin-block-start: 100px;
  margin-block-end: 100px;
  container-type: inline-size;
}

.header_width {
  inline-size: var(--width);
}

.header__title {
  font-family: var( --accent-font);
  font-weight: 400;
  font-size: var(--heder-title-font-size);
}

.header__subtitle {
  font-family: var( --accent-font);
  font-weight: 400;
  font-size: var(--header-subtitle-font-size);
  text-transform: uppercase;
  padding-block-start: 20px;
}

@container (inline-size < 1440px) {
  
  .header__title {
    --heder-title-font-size: clamp(1.8rem, 20cqw, 65px);
    font-size: var(--heder-title-font-size);
  }
  
  .header__subtitle {
  --header-subtitle-font-size: clamp(0.9rem, 10cqw, 23px);
    font-size: var(--header-subtitle-font-size);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  inline-size: var(--width);
}

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: var(--element-background);
  border: 2px solid var(--accent-color);
}

.card__header {
  padding: 5px 10px;
}

.card__title {
  font-family: var(--font);
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-weight-title);
}

.card__picture_container {
  display: flex;
  justify-content: end;
  block-size: var(--picture-size);
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.card__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__picture_start {
  filter: brightness(120%) contrast(150%) saturate(20%);
}

.card__picture_first-sprint {
  filter: hue-rotate(-25deg) sepia(30%);
}

.card__picture_first-sprint-continuation {
  filter: grayscale(100%);
}

.card__picture_second-sprint {
  filter: opacity(70%) contrast(150%) brightness(120%);
}

.card__picture_second-sprint-continuation {
  filter: blur(0.1rem);
}

.card__picture_third-sprint {
  filter: grayscale(100%) brightness(80%);
}

.card__picture_third-sprint-continuation {
  filter: invert(10%);
}

.card__picture_now {
  filter: sepia(40%) contrast(90%);
}

.label {
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  text-shadow: var(--label-shadow);
  padding: var(--label-padding);
  filter: opacity(0.5);
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {

  .label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__section-text {
  padding: 30px 25px 0;
}

.card__text {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  padding-block-end: 26px;
}

.card__footer {
  display: flex;
  justify-content: end;
  gap: 6px;
  padding-inline-end: 25px;
  padding-block-end: 22px;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  justify-self: start;
}

.footer {
  padding-block-start: 50px;
  padding-block-end: 103px;
}

.save-button {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 7fr;
  place-items: center;
  gap: 8px;
  background-color: var(--element-background);
  border: 2px solid var(--accent-color);
  inline-size: 340px;
  block-size: 55px;
}

.save-button__svg {
  justify-self: end;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  inline-size: 357px;
  block-size: 193px;
  padding: 30px;
  border: 2px solid var(--accent-color);
  overflow: hidden;
}

.dialog[open] .dialog__text {
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 3fr;
  align-items: center;
  gap: 20px;
}

.save-button .save-button__svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  filter: brightness(0) invert(1);
}

.dialog[open] .save-button__svg {
  justify-self: start;
  align-self: center;
}

.dialog[open] .button__text {
  text-transform: uppercase;
  line-height: 1.5;
}

.dialog__button {
  border: 2px solid var(--accent-color);
  inline-size: 293px;
  block-size: 40px;
}

.button {
  position: relative;
  overflow: hidden;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.button:hover::after {
  translate: 0;
}

.card__icon-button {
  border: 2px solid transparent;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

@media (width <= 375px) {

  .header {
    --header-padding: clamp(2lh, 30%, 120px) clamp(0.3lh, 5%, 14px);
    padding: var(--header-padding);
  }

  .header_width {
    --width: clamp(90vw, 100%, 375px);
    inline-size: var(--width);
  }

  .header__title {
    --heder-title-font-size: clamp(1em, 49px, 3.1rem);
    font-size: var(--heder-title-font-size);
  }

  .header__subtitle {
    --header-subtitle-font-size: clamp(0.4em, 14px, 0.9rem);
    font-size: var(--header-subtitle-font-size);
  }

  .cards {
    --width: clamp(97vw, 100%, 375px);
    inline-size: var(--width);
  }

  .card__picture {
    --picture-size: 375px;
    block-size: var(--picture-size);
  }

  .label {
    --label-padding: 25px 13px 0 0;
    padding: var(--label-padding);
  }

  .save-button {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    inline-size: 306px;
    block-size: 80px;
  }
  
  .save-button__svg {
    justify-self: center;
    align-self: end;
  }

  .button__text_align {
    justify-self: center;
    align-self: start;
  }

 .dialog[open] {
    inline-size: 341px;
    block-size: 191px;
    padding: 30px 35px;
  }

  .dialog[open] .dialog__text {
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
  }

  .dialog__button {
    inline-size: 257px;
    block-size: 40px;
  }
}