:root {
  --font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --accent-color: #000;
  --card-weight-title: 700;
  --card-weight-text: 400;
  --width: clamp(23.44rem, 50%, 43.75rem);
  --header-padding: clamp(2lh, 30%, 128px) 0;
  --heder-title-font-size: clamp(3.0625rem, 2.5rem + 1.8vw, 4.065rem);
  --header-subtitle-font-size: clamp(0.875rem, 0.3rem + 1.8vw, 1.4375rem);
  --picture-size: 700px;
  --label-inset: 25px;
  --label-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  --page-background: 
      repeating-linear-gradient(to right, #d3d3d3 2px, transparent 2px 4px, #d3d3d3 4px 6px),
      repeating-linear-gradient(to bottom, #d3d3d3 2px, transparent 2px 4px, #d3d3d3 4px 6px),
      linear-gradient(#e7e7e7, #1a1a1a);
  --element-background: #fff;
  --contour-color: #000;
  --animation-fill-color: #f00;
}

@media (width <= 375px) {

  .header {
    --header-padding: clamp(2lh, 35%, 120px) 0;
  }

  .header_width {
    --width: clamp(23.44rem, 100%, 375px);
  }

  .header__title {
    --heder-title-font-size: clamp(3.0625rem, 49px, 4.065rem);
  }

  .header__subtitle {
    --header-subtitle-font-size: clamp(0.875rem, 14px, 1.4375rem);
  }

  .cards {
    --width: clamp(23.44rem, 100%, 375px);
  }

  .card__picture_container {
    --picture-size: 375px;
  }

  .label {
    --label-inset: 13px;
  }
}